body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #dcdcdc;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  thead {
    background-color: #e6e6e6;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #dcdcdc;
  }
  
  th {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #a4a4a4;
    color: #fff;
  }
  
  td select {
    background-color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }
  
  td select option {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }
  
  footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #a4a4a4;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000;
    color: #fff;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #a4a4a4;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000;
  }